<h2 class="mat-display-2">Theming</h2>

<div class="row">
  <div class="col-md-6 col-lg-3 mb-3">
    <h3 class="mat-headline am-text-primary-500">Primary</h3>
    <div>
      <div class="am-bg-primary-100 am-on-primary-100 p-3">Primary - 100</div>
      <div class="am-bg-primary-200 am-on-primary-200 p-3">Primary - 200</div>
      <div class="am-bg-primary-300 am-on-primary-300 p-3">Primary - 300</div>
      <div class="am-bg-primary-400 am-on-primary-400 p-3">Primary - 400</div>
      <div class="am-bg-primary-500 am-on-primary-500 p-3">Primary - 500</div>
      <div class="am-bg-primary-600 am-on-primary-600 p-3">Primary - 600</div>
      <div class="am-bg-primary-700 am-on-primary-700 p-3">Primary - 700</div>
      <div class="am-bg-primary-800 am-on-primary-800 p-3">Primary - 800</div>
      <div class="am-bg-primary-900 am-on-primary-900 p-3">Primary - 900</div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3 mb-3">
    <h3 class="mat-headline am-text-accent-500">Accent</h3>
    <div>
      <div class="am-bg-accent-100 am-on-accent-100 p-3">Accent - 100</div>
      <div class="am-bg-accent-200 am-on-accent-200 p-3">Accent - 200</div>
      <div class="am-bg-accent-300 am-on-accent-300 p-3">Accent - 300</div>
      <div class="am-bg-accent-400 am-on-accent-400 p-3">Accent - 400</div>
      <div class="am-bg-accent-500 am-on-accent-500 p-3">Accent - 500</div>
      <div class="am-bg-accent-600 am-on-accent-600 p-3">Accent - 600</div>
      <div class="am-bg-accent-700 am-on-accent-700 p-3">Accent - 700</div>
      <div class="am-bg-accent-800 am-on-accent-800 p-3">Accent - 800</div>
      <div class="am-bg-accent-900 am-on-accent-900 p-3">Accent - 900</div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3 mb-3">
    <h3 class="mat-headline am-text-warn-500">Warn</h3>
    <div>
      <div class="am-bg-warn-100 am-on-warn-100 p-3">Warn - 100</div>
      <div class="am-bg-warn-200 am-on-warn-200 p-3">Warn - 200</div>
      <div class="am-bg-warn-300 am-on-warn-300 p-3">Warn - 300</div>
      <div class="am-bg-warn-400 am-on-warn-400 p-3">Warn - 400</div>
      <div class="am-bg-warn-500 am-on-warn-500 p-3">Warn - 500</div>
      <div class="am-bg-warn-600 am-on-warn-600 p-3">Warn - 600</div>
      <div class="am-bg-warn-700 am-on-warn-700 p-3">Warn - 700</div>
      <div class="am-bg-warn-800 am-on-warn-800 p-3">Warn - 800</div>
      <div class="am-bg-warn-900 am-on-warn-900 p-3">Warn - 900</div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3 mb-3">
    <h3 class="mat-headline am-text-neutral-500">Neutral</h3>
    <div>
      <div class="am-bg-neutral-100 am-on-neutral-100 p-3">Neutral - 100</div>
      <div class="am-bg-neutral-200 am-on-neutral-200 p-3">Neutral - 200</div>
      <div class="am-bg-neutral-300 am-on-neutral-300 p-3">Neutral - 300</div>
      <div class="am-bg-neutral-400 am-on-neutral-400 p-3">Neutral - 400</div>
      <div class="am-bg-neutral-500 am-on-neutral-500 p-3">Neutral - 500</div>
      <div class="am-bg-neutral-600 am-on-neutral-600 p-3">Neutral - 600</div>
      <div class="am-bg-neutral-700 am-on-neutral-700 p-3">Neutral - 700</div>
      <div class="am-bg-neutral-800 am-on-neutral-800 p-3">Neutral - 800</div>
      <div class="am-bg-neutral-900 am-on-neutral-900 p-3">Neutral - 900</div>
    </div>
  </div>
</div>
