@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/utilities';

@import '~@angular/material/theming';
@import 'scss/theming';

$primary-palette: mat-palette($mat-indigo);
$accent-palette: mat-palette($mat-pink);
$warn-palette: mat-palette($mat-red);

$indigo-pink-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

$typography: mat-typography-config(
  $font-family: $font-family-base,
  $display-4: mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3: mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2: mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(24px, 32px, 400),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(14px, 24px, 500),
  $body-1: mat-typography-level(14px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(14px, 14px, 500),
  $input: mat-typography-level(inherit, 1.125, 400)
);

@include mat-core($typography);
@include angular-material-theme($indigo-pink-theme);
@include generate-color-utilities($indigo-pink-theme);
